.event-main {
  color: $black;
  h1 {
    font-size: 100%;
  }
  label {
    color: $black;
    font-weight: 500;
    line-height: 1.1;
    font-family: "Raleway", "Helvetica", "sans-serif";
  }
}

.back {
  a {
    margin-top: 2%;
    font-size: 90%;
    color: $black;
    font-weight: 500;
    line-height: 1.1;
    font-family: "Raleway", "Helvetica", "sans-serif";
    margin-bottom: 17%;
  }
}

.simple-form1 {
  margin: 2% 5%;
  .row {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  }
  .form-check-input{
  display: none;
  }
  .sign-in {
    margin: 0 0 3% 0;
  }
  .active {
    background-color: $pink;
    color: white;
    width: 42%;
  }
  p {
    margin-top: 9%;
    font-size: 18px;
    color: $black;
  }
  label.collection_radio_buttons{
  min-height: 92px;
  max-width: 92px;
    img {
      width: 90%;
      padding: 2px;
    }
  }
}

.players {
  label{
    margin: 2%;
  }
}
