.simple-form {
  margin: 2% 5%;
  .row {
  flex-wrap: wrap;
  display: flex;
  }
  .form-check-input{
  display: none;
  }
  .sign-in {
    margin: 0 0 17% 30% ;
  }
  .active {
    background-color: $pink;
    color: white;
    width: 40%;
  }
  p {
    margin-top: 5%;
    font-size: 18px;
    color: $black;
  }
  label.collection_radio_buttons{
  min-height: 110px;
  max-width: 112px;
    img {
      width: 90%;
      padding: 2px;
      margin: 0px 13px 13px 20px;
    }
  }
}


