<div class= "seachbar">
  <!-- SORT by -->
  <div class="check-box">
    <p id='recurency'>Daily</p>
    <input type="checkbox" id="toggle" class="offscreen" action='' />
    <label for="toggle" class="switch"></label>
  </div>
</div>
