<div class= "simple-form1">
  <div class="event-main">
    <h1>Choose your sport</h1>
    <%=render 'form', events: @event%>
    <div class=" flex back">
    <%=link_to 'Back', root_path%>
    </div>
  </div>
</div>
