.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
}

.message {
  display: flex;
  margin-bottom: 10px;
   border-bottom-width: 16px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
      margin-bottom: 50px;
      border-bottom-width: 16px;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0px 10px;
  padding: 11px 10px 8px 10px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}
.message_content {
  margin-bottom: 0px;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
.chat-header {
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
  background-color: $pink;
  color: white;
  padding: 10px 20px;
  margin-top: 5px;
  h4 {
    margin: 0;
  }
}

.size_message {
  width: 100%;
}
